<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button routerLink="/favourite">MIS COMIDAS</ion-button> -->
    </ion-buttons>
    <!-- <ion-title>Editar / Añadir Comidas</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input clearInput [(ngModel)]="food.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de comida</ion-label>
    <ion-select [(ngModel)]="food.typeOfFood">
      <ion-select-option value="breakfast">Desayuno</ion-select-option>
      <ion-select-option value="lunch">Almuerzo</ion-select-option>
      <ion-select-option value="dinner">Cena</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Gr / Ml</ion-label>
    <ion-input clearInput type="number" [(ngModel)]="food.grml"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Kcal</ion-label>
    <ion-input clearInput type="number" [(ngModel)]="food.kcal"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Proteinas</ion-label>
    <ion-input clearInput type="number" [(ngModel)]="food.protein"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Carbohidratos</ion-label>
    <ion-input clearInput type="number" [(ngModel)]="food.carbs"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Grasas</ion-label>
    <ion-input clearInput type="number" [(ngModel)]="food.fats"></ion-input>
  </ion-item>

  <br>
  <ion-button expand="full" (click)="saveFood()">Guardar</ion-button>

</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button routerLink="/settings" routerLinkActive="active-item">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  
      <!-- <ion-tab-button routerLink="/edit" routerLinkActive="active-item">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Añadir comida</ion-label>
      </ion-tab-button> -->
  
      <ion-tab-button routerLink="/favourite" routerLinkActive="active-item">
        <ion-icon name="star"></ion-icon>
        <ion-label>Comidas favoritas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
