<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-padding" slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-list-header>Lista de usuarios</ion-list-header>
    <ion-item *ngFor="let user of users">
      <ion-icon *ngIf="user.providerData[0].providerId === 'password'" slot="start" name="mail"></ion-icon>
      <ion-icon *ngIf="user.providerData[0].providerId === 'google.com'" slot="start" name="logo-google"></ion-icon>
      <ion-label (click)="presentAlert(user)">
        <h2 style="color: red;" *ngIf="user.isAdmin">ADMIN</h2>
        <h2>Email: {{ user.email }}</h2>
        <ion-note>Último inicio de sesión: <br />{{ user.lastLoginString }}</ion-note>
      </ion-label>
      <ion-icon *ngIf="!user.isAdmin" slot="end" name="shield-checkmark-outline" (click)="presentAlertPromote(user)"></ion-icon>
      <ion-icon *ngIf="user.isAdmin" slot="end" name="shield-outline" (click)="presentAlertDemote(user)"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
