<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Macros Counter
    </ion-title>
    <ion-buttons slot="start" class="ion-padding">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goEditFood()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-icon class="ion-margin-end" name="calendar-outline"></ion-icon>
    <ion-datetime [(ngModel)]="date" (ngModelChange)="changeDate()" display-format="DD MMM, YYYY" pickerFormat="DD MMM, YYYY"></ion-datetime>
  </ion-item>

  <ion-grid class="ion-text-center">
    {{ kcal.toFixed(0) }} / {{ kcalMax.toFixed(0) }} kcal
    <ion-row>
      <ion-col>
        <div>
          <a>Proteinas</a>
          <ion-progress-bar color="primary" value="{{ proteinBar }}"></ion-progress-bar>
          {{ protein.toFixed(0) }} / {{ proteinMax.toFixed(0) }} gr
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a>Hidratos</a>
          <ion-progress-bar color="secondary" value="{{ carbsBar }}"></ion-progress-bar>
          {{ carbs.toFixed(0) }} / {{ carbsMax.toFixed(0) }} gr
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a>Grasas</a>
          <ion-progress-bar color="tertiary" value="{{ fatsBar }}"></ion-progress-bar>
          {{ fats.toFixed(0) }} / {{ fatsMax.toFixed(0) }} gr
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="breakfast.length > 0">
    <ion-list-header>Desayuno</ion-list-header>
    <ion-item *ngFor="let food of breakfast">
      <ion-label (click)="presentAlert(food)">
        <h2>{{ food.name }}</h2>
        <ion-note>C: {{ food.carbs }}g, P: {{ food.protein }}g, G: {{ food.fats }}g / {{ food.grml }}gr</ion-note>
      </ion-label>
      <ion-icon name="trash" (click)="presentAlertConfirm(food)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="lunch.length > 0">
    <ion-list-header>Almuerzo</ion-list-header>
    <ion-item *ngFor="let food of lunch">
      <ion-label (click)="presentAlert(food)">
        <h2>{{ food.name }}</h2>
        <ion-note>C: {{ food.carbs }}g, P: {{ food.protein }}g, G: {{ food.fats }}g / {{ food.grml }}gr</ion-note>
      </ion-label>
      <ion-icon name="trash" (click)="presentAlertConfirm(food)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="dinner.length > 0">
    <ion-list-header>Cena</ion-list-header>
    <ion-item *ngFor="let food of dinner">
      <ion-label (click)="presentAlert(food)">
        <h2>{{ food.name }}</h2>
        <ion-note>C: {{ food.carbs }}g, P: {{ food.protein }}g, G: {{ food.fats }}g / {{ food.grml }}gr</ion-note>
      </ion-label>
      <ion-icon name="trash" (click)="presentAlertConfirm(food)"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- {{ breakfast | json }}<br>
  {{ lunch | json }}<br>
  {{ dinner | json }} -->
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button routerLink="/settings" routerLinkActive="active-item">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/edit" routerLinkActive="active-item">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Añadir comida</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/favourite" routerLinkActive="active-item">
        <ion-icon name="star"></ion-icon>
        <ion-label>Comidas favoritas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>